.dark-blue{
  background-color: yellow;
}


/* HomePage */


/* Contact US */
.contactDivone {
  position: absolute;
  top: 30%;
  left: 16px;
  /* font-weight: bold; */
  font-size: 5em;
  color: white;
  font-family: Tahoma;
  font-style:
}

.sizeP{
  font-size: 0.4em;
}

.contactdivtwo{
  background-color: #053742;
  text-align: center;
  font-family: Tahoma;
  padding-top: 5%;
  padding-bottom: 6%;
  color: white;
}

hr.style-one{
  border: 0.5px solid black  ;
  opacity: 0.2;
}

.contactForm{
  padding-top: 3%;
  float: left;
  width: 60%;
  font-family: Tahoma;
}

.card{
  align-items: center;
  margin-top: 7%;
  margin-left: 7%;
  margin-bottom: 10%;
  padding-bottom: 5%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #A7BBC7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.contactDivThree{
  margin-top: 25%;
  text-align: center;
}




/* ABOUT US PAGE */

h5.topone{
  font-size: 0.5em;
}

.taglineDiv {
  position: absolute;
  top: 30%;
  left: 16px;
  font-size: 3.5em;
  color: white;
  font-family: Tahoma;
  font-style:
}

.aboutdivone{
  padding-top: 3%;
  font-family: Tahoma;
  text-align: center;
  padding-top: 5%;
}
.aboutdivonecoltwo{
  text-align: center;
  margin-top: 11%;
}


.aboutdivtwo{
  margin-top: 5%;
  text-align: center;
}

.aboutdivtwocoltwo{
  margin-top: 7%;
  text-align: center;
  background-color: E8F0F2;
}

.gambarWanj{
  text-align: center;
}

.gambarHafiz{
  text-align: center;
}

.gambarHakim{
  text-align: center;
}

.BoardTitle{
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}
